header {
    height: 90vh;
    background-color: rgba(white, 0.25);
    box-shadow: 0 0 0.3em 0.2em rgba(white, 0.25);
    border-radius: 2em;

    h1 {
        font-size: 8em;
        width: 100%;
        padding-top: 10%;
        padding-left: 10%;
        text-shadow: 0.1rem 0.1rem 0.2rem black;
    }
    p {
        font-size: 3.75em;
        padding: 1em 20%;
        text-shadow: 0.1rem 0.1rem 0.2rem black;
    }
}